# Jabber-IRC bridge configuration file
#
# This file setup up the login conditions and the endpoints for the bridge.
# You should rename this file ijbridge.conf and give suitable settings
# of your own. 
#
# Note: you need to configure nearly all the settings given in this file.
#
# Comments begin with # and blank lines are ignored. 
# No additional options are permitted.

# Jabber connection information
#
JabberServer   YOUR.JABBER.SERVER
JabberPort     5222
JabberResource ijbridge
JabberUser     VALIDJABBERUSERID
JabberPassword VALIDJABBERPASSWORD

# Details for the Jabber conference room to join to.
#
Conference      ROOM@CONFERENCE.JABBER.SERVERk
ConferenceNick  ijchain

# IRC connection details
#
IrcServer      IRC.SERVER.NAME
IrcPort        6667
IrcUser        IRCNICK
IrcChannel     #IRCCHANNEL

# FreeNode restricts PRIVMSG to identified users.
# Provide your IrcUser nick's pasword for use in identifying this
# client to FreenNode's nickserv.
#
IrcNickPasswd  IRCNICKSERVPASSWORD
#
# If you want to maintain a running statistics count between invocations
# then specify a file path to maintain the counters. If this is an empty
# string then no file will be used.
#
StatisticsFile ""
